<h1 class = "titlepage">List of the Products Page</h1>
	<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
	  <%= text_field_tag :search, params[:search] %>
	  <%= submit_tag "Search" %>
	<% end %>

	<p>Check out each product</p>
		<%= link_to "Create a New Product Here", "/products/new" %>
	<div id = "products">
		<%= render @products %>
	</div>
 

 